@import '~antd/dist/antd.css';

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wave-container {
  position: relative;
  margin: 0;
  padding: 0;
  background: rgb(9, 7, 36) url("./assets/signing-shipping.jpg") no-repeat;
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  min-height: 700px;
}

.fix-img {
  background: url("./assets/Liebherr-LRS-545-reach-stacker.jpg") no-repeat;
  background-size: cover;
  margin-top: 20px;
  background-attachment: fixed;
}

section h1 {
  font-size: 5rem;
  margin: 14.2rem 1.25rem 2.5rem 1.25rem;
  text-align: center;
  color: #fff;
}
section p {
  font-size: 1.5rem;
  margin: 0 1.25rem 5rem 1.25rem;
  text-align: center;
  color: #fff;
}

.page-loader {
  background: rgb(9, 7, 36);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.sec-cont {
  position: absolute;
  left: 300px;
}

@media only screen and (max-width: 480px) {
  .wave-container {
    position: relative;
    margin: 0;
    padding: 0;
    background: rgb(9, 7, 36);
    background-size: cover;
    width: 100%;
    min-height: 250px;
  }
  .home-text h1 {
    font-size: 28px !important;
    margin-bottom: 15px;
  }
  .home-text p {
    font-size: 14px;
  }
  .carousel {
    display: none;
  }
  .light {
    background: rgb(9, 7, 36) !important;
    color: #fff !important;
    padding: 15px !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
  }
  
  
 
  .how-we-work h4 {
    color: "#000";
    font-size: 16;
    text-align: center;
    margin-top: -70px;
  }
}

.home-text h1 {
  font-size: 36px;
  margin-bottom: 15px;
  /* margin-top: 20px; */
  font-weight: bolder;
  transition: animate 
}

.home-text p {
  font-size: 1.2rem;
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(0.9,1.2);
  }
  100% {
      transform: scale(1.1,1.2);
  }
}

.home-text h1, .animate-p {
  animation: zoominoutsinglefeatured 10s infinite;
}

.home-sideimg {
  padding-top: 100px;
}

.how-we-work {
  color: "#000";
  font-size: 16;
  padding-top: 100px;
  text-align: center
}

#curve {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#curve path {
  fill: #fff;
}

/* section.sec2 {
  background: rgb(179, 70, 70) url("./assets/homebackground.jpg") no-repeat;
  max-height: 600px;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.9;
} */

.light {
  background: rgb(9, 7, 36) !important;
  color: #fff !important;
  padding: 15px !important;
  position: fixed;
  width: 99%;
  top: 0;
  z-index: 9999;
}



.home-text h1, p {
  transform: scale(1);
  transition: an 0.15s ease-in-out 0.2s;
}

.overlay {
  background: #000;
  opacity: 0.6;
  background-size: contain;
  height: 600px;

}

.footer {
  background: #000;
  color: #fff;
  opacity: 0.9;
}

.branches p {
  line-height: 1;
}

.App > button{
  width: 100% !important;
  background: #1890ff !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
}